#clockcontainer{
    /* height: 440px;
    width: 440px; */
    height: 40vw;
    width: 40vw;
    background-image: url(./—Pngtree—clock_616758.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
#hour , #mintues , #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 10px;
    height: 104px;
    margin-top: 31%;
    margin-left: 49.6%;
    opacity: 0.8;
    background-color: rgb(2, 12, 39);
/* display: none; */
}
#mintues{
    width: 6px;
    height: 121px;
    margin-top: 28%;
    margin-left: 49.7%;
    opacity: 0.8;
    background-color: rgb(51, 3, 3);
    /* display: none; */

}
#second{
    width: 2px;
    height: 139px;
    margin-top: 24%;
    margin-left: 49.9%;
    opacity: 0.8;
    background-color: rgb(8, 253, 8);
    /* display: none; */
}
